*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BRAND_BLUE: #1f80e0;
  --BRAND_RED: #f15151;
  --BRAND_ORANGE: #db882a;
  --BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px);
  --BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
  --BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
  --CARD_GRADIENT: #030b17;
  --HEADER_COLOR: #121926;
  --BG_COLOR_L0: #0c111b;
  --BG_COLOR_L1: #192133;
  --BG_COLOR_L2: #334366;
  --BG_COLOR_L3: rgba(144, 153, 153, 0.1);
  --BG_COLOR_L4: #1b1f20;
  --BORDER_COLOR_L0: #2e3333;
  --TEXT_COLOR_L0: #fff;
  --TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
  --TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
  --TEXT_COLOR_L3: #dadada;
  --TEXT_COLOR_L4: #909999;
  --TEXT_COLOR_L5: #f9f9f9;
  --TEXT_LINK_COLOR: #1f80e0;
  --TEXT_BTN_COLOR: #1f80e0;
}

img {
  display: block;
  width: 100%;
}

body {
  background: var(--BG_COLOR_L0);
  font-family: "Roboto", sans-serif;
}

input,
button {
  outline: none;
  border: none;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.text-color-white {
  color: #fff;
}
.text-color-l4 {
  color: var(--TEXT_COLOR_L4);
}
/* Top Navigation Section Start */
.btn-hamburger {
  margin: 0 0.8rem;
}
.btn-hamburger i {
  color: var(--TEXT_COLOR_L4);
}
.top-nav {
  background: var(--HEADER_COLOR);
  position: sticky;
  top: 0;
  left: 0;
}
.top-nav header {
  display: flex;
  padding: 0.7rem 2rem;
  align-items: center;
}

.top-nav header nav {
  display: flex;
}
.nav-logo img {
  padding-bottom: 11px;
  width: 115px;
  height: 47px;
}
.top-nav header nav a {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--TEXT_COLOR_L2);
  font-weight: 500;
}
.top-nav header nav a:hover {
  color: var(--TEXT_COLOR_L5);
}
.kids-link {
  padding-top: 3px;
  width: max-content;
  height: auto;
}
.input-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-bottom: 1px solid var(--TEXT_COLOR_L3);
  padding-bottom: 5px;
  transition: 0.2s all linear;
}
.search-icon-container {
  margin-left: 0.5rem;
}
.search-icon-container i {
  color: var(--TEXT_COLOR_L4);
  pointer-events: none;
  opacity: 0.7;
}
.input-container input {
  background: transparent;
  color: var(--TEXT_COLOR_L1);
  min-width: 250px;
}
.input-container input::placeholder {
  font-size: 1rem;
  color: var(--TEXT_COLOR_L1);
}
.input-container input:focus,
.input-container input:valid {
  min-width: 400px;
}
.input-container:focus-within {
  border-bottom-color: #1f80e0;
}
input:focus,
input:valid {
  border-bottom-color: #334366 !important;
}
.btn-subscribe {
  margin: 0 1.5rem;
}
.btn-subscribe button {
  background: var(--TEXT_BTN_COLOR);
  color: var(--TEXT_COLOR_L0);
  border-radius: 3px;
  padding: 3px 10px;
}
.profile-login a {
  color: var(--TEXT_COLOR_L4);
}

/* Top Navigation Section End */

/* Hero Section Start */
.hero-section {
  width: 95%;
  margin: auto;
}
.banner-card {
  background: var(--CARD_GRADIENT);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 2rem;
  background: var(--CARD_GRADIENT);
  border-radius: 5px;
}
.hero-content {
  padding: 4rem 2rem;
}
.hero-img img {
  border-radius: 0 5px 5px 0;
}
.content-card {
  display: grid;
  grid-template-rows: auto;
  row-gap: 0.5rem;
}
.hero-content {
  display: grid;
  grid-template-rows: auto;
  row-gap: 2rem;
}
.watch-container {
  display: flex;
  align-items: center;
}
.logo-play {
  margin-right: 1rem;
}
.txt-c {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.container {
  display: flex;
  margin-left: auto;
}
.action-card {
  display: flex;
  align-items: center;
}
.badge {
  display: flex;
  color: #000;
  font-weight: 900;
  background: #f6d46b;
  align-items: center;
  width: max-content;
  font-size: 12px;
  justify-content: center;
  height: fit-content;
  padding: 2px 7px;
  border-radius: 5px;
}
.hero-content h1 {
  color: var(--TEXT_COLOR_L0);
}
.hero-content .seasons {
  color: var(--TEXT_COLOR_L4);
  font-weight: 500;
}
.hero-content .brief {
  color: var(--TEXT_COLOR_L1);
}
.current-episode {
  font-weight: 500;
}
.playlist {
  color: var(--TEXT_COLOR_L3);
}
/* Hero Section End */
